 .u-section-1 {
  background-image: url("images/453aea372a8bc866f2f0c8655d3f4b19c59e0e1fc1db8d5d91154bb353d25b25ed6583098105dd3d174b5f77e2b58edac6858db9431f7d6eb90e5a_1280.jpg");
  background-position: 50% 50%;
}

.u-section-1 .u-sheet-1 {
  min-height: 685px;
}

.u-section-1 .u-text-1 {
  margin: 9px 351px 60px auto;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 565px;
  }

  .u-section-1 .u-text-1 {
    margin-right: 289px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 433px;
  }

  .u-section-1 .u-text-1 {
    margin-right: 221px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 325px;
  }

  .u-section-1 .u-text-1 {
    margin-right: 166px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 205px;
  }

  .u-section-1 .u-text-1 {
    margin-right: 105px;
  }
} .u-section-2 {
  background-image: none;
}

.u-section-2 .u-sheet-1 {
  min-height: 8223px;
}

.u-section-2 .u-text-1 {
  font-weight: 400;
  margin: 98px auto 0 0;
}

.u-section-2 .u-list-1 {
  width: 590px;
  margin: 82px auto 0 0;
}

.u-section-2 .u-repeater-1 {
  min-height: 9239px;
  grid-template-columns: 100%;
  grid-gap: 51px 51px;
}

.u-section-2 .u-container-layout-1 {
  padding: 0;
}

.u-section-2 .u-image-1 {
  height: 460px;
  object-position: 50% 100%;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-2 .u-text-2 {
  font-weight: 400;
  font-size: 2.25rem;
  margin: 98px auto 0 0;
}

.u-section-2 .u-text-3 {
  font-weight: 400;
  font-size: 1.875rem;
  margin: 17px 11px 0;
}

.u-section-2 .u-container-layout-2 {
  padding: 0;
}

.u-section-2 .u-image-2 {
  height: 460px;
  object-position: 50% 100%;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-2 .u-text-4 {
  font-weight: 400;
  font-size: 2.25rem;
  margin: 98px auto 0 0;
}

.u-section-2 .u-text-5 {
  font-weight: 400;
  font-size: 1.875rem;
  margin: 17px 11px 0;
}

.u-section-2 .u-container-layout-3 {
  padding: 0;
}

.u-section-2 .u-image-3 {
  height: 460px;
  object-position: 50% 100%;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-2 .u-text-6 {
  font-weight: 400;
  font-size: 2.25rem;
  margin: 98px auto 0 0;
}

.u-section-2 .u-text-7 {
  font-weight: 400;
  font-size: 1.875rem;
  margin: 17px 11px 0;
}

.u-section-2 .u-container-layout-4 {
  padding: 0;
}

.u-section-2 .u-image-4 {
  height: 460px;
  object-position: 50% 100%;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-2 .u-text-8 {
  font-weight: 400;
  font-size: 2.25rem;
  margin: 98px auto 0 0;
}

.u-section-2 .u-text-9 {
  font-weight: 400;
  font-size: 1.875rem;
  margin: 17px 11px 0;
}

.u-section-2 .u-container-layout-5 {
  padding: 0;
}

.u-section-2 .u-image-5 {
  height: 460px;
  object-position: 50% 100%;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-2 .u-text-10 {
  font-weight: 400;
  font-size: 2.25rem;
  margin: 98px auto 0 0;
}

.u-section-2 .u-text-11 {
  font-weight: 400;
  font-size: 1.875rem;
  margin: 17px 11px 0;
}

.u-section-2 .u-container-layout-6 {
  padding: 0;
}

.u-section-2 .u-image-6 {
  height: 460px;
  object-position: 50% 100%;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-2 .u-text-12 {
  font-weight: 400;
  font-size: 2.25rem;
  margin: 98px auto 0 0;
}

.u-section-2 .u-text-13 {
  font-weight: 400;
  font-size: 1.875rem;
  margin: 17px 11px 0;
}

.u-section-2 .u-container-layout-7 {
  padding: 0;
}

.u-section-2 .u-image-7 {
  height: 460px;
  object-position: 50% 100%;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-2 .u-text-14 {
  font-weight: 400;
  font-size: 2.25rem;
  margin: 98px auto 0 0;
}

.u-section-2 .u-text-15 {
  font-weight: 400;
  font-size: 1.875rem;
  margin: 17px 11px 0;
}

.u-section-2 .u-container-layout-8 {
  padding: 0;
}

.u-section-2 .u-image-8 {
  height: 460px;
  object-position: 50% 100%;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-2 .u-text-16 {
  font-weight: 400;
  font-size: 2.25rem;
  margin: 98px auto 0 0;
}

.u-section-2 .u-text-17 {
  font-weight: 400;
  font-size: 1.875rem;
  margin: 17px 11px 0;
}

.u-section-2 .u-container-layout-9 {
  padding: 0;
}

.u-section-2 .u-image-9 {
  height: 460px;
  object-position: 50% 100%;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-2 .u-text-18 {
  font-weight: 400;
  font-size: 2.25rem;
  margin: 98px auto 0 0;
}

.u-section-2 .u-text-19 {
  font-weight: 400;
  font-size: 1.875rem;
  margin: 17px 11px 0;
}

.u-section-2 .u-container-layout-10 {
  padding: 0;
}

.u-section-2 .u-image-10 {
  height: 460px;
  object-position: 50% 100%;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-2 .u-text-20 {
  font-weight: 400;
  font-size: 2.25rem;
  margin: 98px auto 0 0;
}

.u-section-2 .u-text-21 {
  font-weight: 400;
  font-size: 1.875rem;
  margin: 17px 11px 0;
}

@media (max-width: 767px) {
  .u-section-2 .u-list-1 {
    width: 540px;
  }

  .u-section-2 .u-image-1 {
    height: 421px;
  }

  .u-section-2 .u-image-2 {
    height: 421px;
  }

  .u-section-2 .u-image-3 {
    height: 421px;
  }

  .u-section-2 .u-image-4 {
    height: 421px;
  }

  .u-section-2 .u-image-5 {
    height: 421px;
  }

  .u-section-2 .u-image-6 {
    height: 421px;
  }

  .u-section-2 .u-image-7 {
    height: 421px;
  }

  .u-section-2 .u-image-8 {
    height: 421px;
  }

  .u-section-2 .u-image-9 {
    height: 421px;
  }

  .u-section-2 .u-image-10 {
    height: 421px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-list-1 {
    width: 340px;
  }

  .u-section-2 .u-image-1 {
    height: 265px;
  }

  .u-section-2 .u-text-2 {
    font-size: 1.5rem;
  }

  .u-section-2 .u-image-2 {
    height: 265px;
  }

  .u-section-2 .u-text-4 {
    font-size: 1.5rem;
  }

  .u-section-2 .u-image-3 {
    height: 265px;
  }

  .u-section-2 .u-text-6 {
    font-size: 1.5rem;
  }

  .u-section-2 .u-image-4 {
    height: 265px;
  }

  .u-section-2 .u-text-8 {
    font-size: 1.5rem;
  }

  .u-section-2 .u-image-5 {
    height: 265px;
  }

  .u-section-2 .u-text-10 {
    font-size: 1.5rem;
  }

  .u-section-2 .u-image-6 {
    height: 265px;
  }

  .u-section-2 .u-text-12 {
    font-size: 1.5rem;
  }

  .u-section-2 .u-image-7 {
    height: 265px;
  }

  .u-section-2 .u-text-14 {
    font-size: 1.5rem;
  }

  .u-section-2 .u-image-8 {
    height: 265px;
  }

  .u-section-2 .u-text-16 {
    font-size: 1.5rem;
  }

  .u-section-2 .u-image-9 {
    height: 265px;
  }

  .u-section-2 .u-text-18 {
    font-size: 1.5rem;
  }

  .u-section-2 .u-image-10 {
    height: 265px;
  }

  .u-section-2 .u-text-20 {
    font-size: 1.5rem;
  }
} .u-section-3 {
  background-image: none;
}

.u-section-3 .u-sheet-1 {
  min-height: 1110px;
}

.u-section-3 .u-group-1 {
  min-height: 164px;
  width: 853px;
  margin: 60px auto 0 0;
}

.u-section-3 .u-container-layout-1 {
  padding-left: 60px;
}

.u-section-3 .u-text-1 {
  font-size: 3rem;
  font-family: Bangers;
  letter-spacing: 2px;
  margin: 24px 60px 0 0;
}

.u-section-3 .u-list-1 {
  margin-top: 30px;
  margin-bottom: 60px;
}

.u-section-3 .u-repeater-1 {
  grid-gap: 10px 10px;
  grid-template-columns: 100%;
  min-height: 1271px;
}

.u-section-3 .u-image-1 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.4), rgba(0,0,0,0.4)), url("images/sprouts.jpg");
}

.u-section-3 .u-container-layout-2 {
  padding: 10px;
}

.u-section-3 .u-text-2 {
  text-shadow: 2px 2px 8px rgba(0,0,0,0.4);
  background-image: none;
  margin: 0 auto 0 0;
}

.u-section-3 .u-image-2 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.4), rgba(0,0,0,0.4)), url("images/seed.jpg");
}

.u-section-3 .u-container-layout-3 {
  padding: 10px;
}

.u-section-3 .u-text-3 {
  text-shadow: 2px 2px 8px rgba(0,0,0,0.4);
  background-image: none;
  font-weight: bold;
  margin: 0 auto 0 0;
}

.u-section-3 .u-image-3 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.4), rgba(0,0,0,0.4)), url("images/egg.jpg");
}

.u-section-3 .u-container-layout-4 {
  padding: 10px;
}

.u-section-3 .u-text-4 {
  text-shadow: 2px 2px 8px rgba(0,0,0,0.4);
  background-image: none;
  font-weight: bold;
  margin: 0 auto 0 0;
}

.u-section-3 .u-image-4 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.4), rgba(0,0,0,0.4)), url("images/b58a5c00cd4fe63e9dcc56310a06176103e0e3bf8434aaf81c782040826058bceade0e17bbfe307ad83d4de03a4d92bcc8a9b30c4fb4d839e6b9a5_1280.jpg");
  background-position: 50% 50%;
}

.u-section-3 .u-container-layout-5 {
  padding: 10px;
}

.u-section-3 .u-text-5 {
  text-shadow: 2px 2px 8px rgba(0,0,0,0.4);
  background-image: none;
  font-weight: bold;
  margin: 0 auto 0 0;
}

.u-section-3 .u-image-5 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.4), rgba(0,0,0,0.4)), url("images/dp.jpg");
}

.u-section-3 .u-container-layout-6 {
  padding: 10px;
}

.u-section-3 .u-text-6 {
  text-shadow: 2px 2px 8px rgba(0,0,0,0.4);
  background-image: none;
  font-weight: bold;
  margin: 0 auto 0 0;
}

.u-section-3 .u-image-6 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.4), rgba(0,0,0,0.4)), url("images/oil.jpg");
}

.u-section-3 .u-container-layout-7 {
  padding: 10px;
}

.u-section-3 .u-text-7 {
  text-shadow: 2px 2px 8px rgba(0,0,0,0.4);
  background-image: none;
  font-weight: bold;
  margin: 0 auto 0 0;
}

.u-section-3 .u-image-7 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.4), rgba(0,0,0,0.4)), url("images/cereal.jpg");
}

.u-section-3 .u-container-layout-8 {
  padding: 10px;
}

.u-section-3 .u-text-8 {
  text-shadow: 2px 2px 8px rgba(0,0,0,0.4);
  background-image: none;
  font-weight: bold;
  margin: 0 auto 0 0;
}

.u-section-3 .u-image-8 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.4), rgba(0,0,0,0.4)), url("images/a6b1910188eb495cd9a463bb4ebc53bfd77d843576043010a9b30f1e26d0ed91a73117295ac0ee78b7abd6d2b4104ed0b4b00a35ac20657b5fda8f_1280.jpg");
}

.u-section-3 .u-container-layout-9 {
  padding: 10px;
}

.u-section-3 .u-text-9 {
  text-shadow: 2px 2px 8px rgba(0,0,0,0.4);
  background-image: none;
  font-weight: bold;
  margin: 0 auto 0 0;
}

.u-section-3 .u-image-9 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.4), rgba(0,0,0,0.4)), url("images/fruit.jpg");
}

.u-section-3 .u-container-layout-10 {
  padding: 10px;
}

.u-section-3 .u-text-10 {
  text-shadow: 2px 2px 8px rgba(0,0,0,0.4);
  background-image: none;
  font-weight: bold;
  margin: 0 auto 0 0;
}

.u-section-3 .u-image-10 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.4), rgba(0,0,0,0.4)), url("images/bba78422f3c6eeb5b585dacbc9c57a1fdeaeb490554904383d3d6d40f5f618d043149accfce4f866c637788e2d2787397fe1ddca2750ff053bf244_1280.jpg");
}

.u-section-3 .u-container-layout-11 {
  padding: 10px;
}

.u-section-3 .u-text-11 {
  text-shadow: 2px 2px 8px rgba(0,0,0,0.4);
  background-image: none;
  font-weight: bold;
  margin: 0 auto 0 0;
}

@media (max-width: 1199px) {
  .u-section-3 .u-sheet-1 {
    min-height: 471px;
  }

  .u-section-3 .u-group-1 {
    min-height: 203px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-3 .u-container-layout-1 {
    padding-left: 23px;
  }

  .u-section-3 .u-text-1 {
    position: relative;
    margin-top: 20px;
    margin-right: 49px;
  }

  .u-section-3 .u-image-6 {
    background-position: 50% 21.4%;
  }

  .u-section-3 .u-image-7 {
    background-position: 50% 50%;
  }

  .u-section-3 .u-image-8 {
    background-position: 50% 50%;
  }

  .u-section-3 .u-image-10 {
    background-position: 50% 50%;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-sheet-1 {
    min-height: 729px;
  }

  .u-section-3 .u-group-1 {
    margin-top: 38px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-3 .u-container-layout-1 {
    padding-left: 18px;
  }

  .u-section-3 .u-text-1 {
    margin-right: 0;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-sheet-1 {
    min-height: 1468px;
  }

  .u-section-3 .u-group-1 {
    width: 474px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-3 .u-container-layout-1 {
    padding-left: 28px;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-sheet-1 {
    min-height: 1238px;
  }

  .u-section-3 .u-group-1 {
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-3 .u-container-layout-1 {
    padding-left: 8px;
  }
} .u-section-4 {
  background-image: none;
}

.u-section-4 .u-sheet-1 {
  min-height: 1110px;
}

.u-section-4 .u-group-1 {
  min-height: 164px;
  width: 853px;
  margin: 60px auto 0 0;
}

.u-section-4 .u-container-layout-1 {
  padding-left: 60px;
}

.u-section-4 .u-text-1 {
  font-size: 3rem;
  font-family: Bangers;
  letter-spacing: 2px;
  margin: 38px 30px 0;
}

.u-section-4 .u-list-1 {
  margin-top: 30px;
  margin-bottom: 60px;
}

.u-section-4 .u-repeater-1 {
  grid-gap: 10px 10px;
  grid-template-columns: 100%;
  min-height: 1271px;
}

.u-section-4 .u-image-1 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.4), rgba(0,0,0,0.4)), url("images/2a0a3d9c344fde88fbce6b9e4d11d2a2431b8b7892b8e104496b7f18cc3692e12766968ac4fd40f8a78f81cbad7c4e6a13b2558402e4cf8f38876d_1280.jpg");
  background-position: 50% 50%;
}

.u-section-4 .u-container-layout-2 {
  padding: 15px 10px;
}

.u-section-4 .u-text-2 {
  text-shadow: 2px 2px 8px rgba(0,0,0,0.4);
  background-image: none;
  margin: 0 auto 0 0;
}

.u-section-4 .u-image-2 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.4), rgba(0,0,0,0.4)), url("images/f566e3646f4de6654a683f809bd3be8022a2bb7d83b5905f456708647ac9349c507964b7c924c3aa3ef2d9998077b2777b4305df7665b09ff95b3d_1280.jpg");
  background-position: 50% 50%;
}

.u-section-4 .u-container-layout-3 {
  padding: 15px 10px;
}

.u-section-4 .u-text-3 {
  text-shadow: 2px 2px 8px rgba(0,0,0,0.4);
  background-image: none;
  font-weight: bold;
  margin: 0 auto 0 0;
}

.u-section-4 .u-image-3 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.4), rgba(0,0,0,0.4)), url("images/46bf9b9f8360b927521733c88f7ebee7539ab5923838f555d608781c430cacd15e1b5eda53b2eef610f06ef0e8af0407d418aaf4df06f7a178fb8b_1280.jpg");
  background-position: 50% 50%;
}

.u-section-4 .u-container-layout-4 {
  padding: 15px 10px;
}

.u-section-4 .u-text-4 {
  text-shadow: 2px 2px 8px rgba(0,0,0,0.4);
  background-image: none;
  font-weight: bold;
  margin: 0 auto 0 0;
}

.u-section-4 .u-image-4 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.4), rgba(0,0,0,0.4)), url("images/d.png");
  background-position: 50% 50%;
}

.u-section-4 .u-container-layout-5 {
  padding: 15px 10px;
}

.u-section-4 .u-text-5 {
  text-shadow: 2px 2px 8px rgba(0,0,0,0.4);
  background-image: none;
  font-weight: bold;
  margin: 0 auto 0 0;
}

.u-section-4 .u-image-5 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.4), rgba(0,0,0,0.4)), url("images/op.jpg");
  background-position: 50% 50%;
}

.u-section-4 .u-container-layout-6 {
  padding: 15px 10px;
}

.u-section-4 .u-text-6 {
  text-shadow: 2px 2px 8px rgba(0,0,0,0.4);
  background-image: none;
  font-weight: bold;
  margin: 0 auto 0 0;
}

.u-section-4 .u-image-6 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.4), rgba(0,0,0,0.4)), url("images/964e98e834eb7b9acc0546909acaf0178398290843d3b2386112f6e8cd789cd1fe59eaeec01fed8187967d6ae070def38edc680a6407ff09029cbe_1280.jpg");
  background-position: 50% 50%;
}

.u-section-4 .u-container-layout-7 {
  padding: 15px 10px;
}

.u-section-4 .u-text-7 {
  text-shadow: 2px 2px 8px rgba(0,0,0,0.4);
  background-image: none;
  font-weight: bold;
  margin: 0 auto 0 0;
}

.u-section-4 .u-image-7 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.4), rgba(0,0,0,0.4)), url("images/04e0a4bb605a91fce3146d712f41019241eeada89f3d49ff783abfa8f83103a3b7877d94fa7e55b8061097cc08fa106ff4a4acbd73b9504ad13ac1_1280.jpg");
  background-position: 50% 50%;
}

.u-section-4 .u-container-layout-8 {
  padding: 15px 10px;
}

.u-section-4 .u-text-8 {
  text-shadow: 2px 2px 8px rgba(0,0,0,0.4);
  background-image: none;
  font-weight: bold;
  margin: 0 auto 0 0;
}

.u-section-4 .u-image-8 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.4), rgba(0,0,0,0.4)), url("images/1bb3030509ec7b92730289c9b9cc00c90cad1d2265970fa895d29db97a11f1dc2afdfa0981af0c4123795bc66f29539e42e20599749d7417989b26_1280.jpg");
  background-position: 50% 50%;
}

.u-section-4 .u-container-layout-9 {
  padding: 15px 10px;
}

.u-section-4 .u-text-9 {
  text-shadow: 2px 2px 8px rgba(0,0,0,0.4);
  background-image: none;
  font-weight: bold;
  margin: 0 auto 0 0;
}

.u-section-4 .u-image-9 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.4), rgba(0,0,0,0.4)), url("images/e342d5dfcaf7ecf7dd9702b0a3690e65b944568e3cd384c8259c6ddade7041bfd213d6108ae3158e2df5c5b18a9fbe18beaf2e58d7d9a705438d28_1280.jpg");
  background-position: 50% 50%;
}

.u-section-4 .u-container-layout-10 {
  padding: 15px 10px;
}

.u-section-4 .u-text-10 {
  text-shadow: 2px 2px 8px rgba(0,0,0,0.4);
  background-image: none;
  font-weight: bold;
  margin: 0 auto 0 0;
}

.u-section-4 .u-image-10 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.4), rgba(0,0,0,0.4)), url("images/ae8b4274051961e5cd3a3d0e391717cf6318fb7be9e34299fb1962719ba07722d9bd1d8d76b38a722f147ac9275c3a4bc407b1a2704487fe53e241_1280.jpg");
  background-position: 50% 50%;
}

.u-section-4 .u-container-layout-11 {
  padding: 15px 10px;
}

.u-section-4 .u-text-11 {
  text-shadow: 2px 2px 8px rgba(0,0,0,0.4);
  background-image: none;
  font-weight: bold;
  margin: 0 auto 0 0;
}

@media (max-width: 1199px) {
  .u-section-4 .u-sheet-1 {
    min-height: 471px;
  }

  .u-section-4 .u-group-1 {
    min-height: 203px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-4 .u-container-layout-1 {
    padding-left: 23px;
  }

  .u-section-4 .u-text-1 {
    position: relative;
    margin-top: 20px;
    margin-right: 49px;
  }
}

@media (max-width: 991px) {
  .u-section-4 .u-sheet-1 {
    min-height: 729px;
  }

  .u-section-4 .u-group-1 {
    margin-top: 38px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-4 .u-container-layout-1 {
    padding-left: 18px;
  }

  .u-section-4 .u-text-1 {
    margin-left: 0;
    margin-right: 0;
  }
}

@media (max-width: 767px) {
  .u-section-4 .u-sheet-1 {
    min-height: 1468px;
  }

  .u-section-4 .u-group-1 {
    width: 474px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-4 .u-container-layout-1 {
    padding-left: 28px;
  }
}

@media (max-width: 575px) {
  .u-section-4 .u-sheet-1 {
    min-height: 1238px;
  }

  .u-section-4 .u-group-1 {
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-4 .u-container-layout-1 {
    padding-left: 8px;
  }
} .u-section-5 {
  background-image: none;
}

.u-section-5 .u-sheet-1 {
  min-height: 290px;
}